@font-face {
    font-family: MinchoNormal;
    src: url(./fonts/ShipporiMinchoB1-Regular.ttf)
}
@font-face {
    font-family: MinchoBold;
    src: url(./fonts/ShipporiMinchoB1-Bold.ttf);
    font-weight: bold;
}

* {
    font-family: MinchoNormal;
    background-color: #292929;
    color: whitesmoke;
}

a {
    font-size: 100%;
    color: #bf5700;
    transition: font-size 0.5s;
}
a:hover {
    font-size: 110%;
}

#introdiv {
    padding-left:3%;
}

#intro-header {
    font-size: 350%;
}
#intro-header strong {
    font-size: 90%;
}

#about-me {
    font-family: MinchoNormal;
    font-size: 150%;
}

#topics {
    display: flex;
    font-size: 135%;
    margin: auto;
    overflow:auto;
}
#topics div {
    flex-grow: 0;
    flex-basis: auto;
    padding: 5px;
}
#topics dl {
    font-size: 130%;
}
listEmbed {
    color: lightsalmon;
}
#topics dt {
    font-family: MinchoBold;
    font-size: 80%;
    color: lightsalmon;
    margin-top: 1%;
}
#topics dd {
    font-family: MinchoNormal;
    font-size: 70%;
}

img {
    width: 30%;
}

#posts-redirects ul{
    text-align: center;
    list-style: none;
    color: whitesmoke;
}
#posts-redirects li {
    font-size: 120%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#links {
    font-size: 200%;
}
#links p {
    font-size: 70%;
}

.footer {
    font-size: 125%;
    position:sticky;
    top:100px;
    left:0;
    bottom:0;
    text-align:center;
    width:100%;
}